<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frc107.scouting2019">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".initials.InitialsActivity"></activity>
        <activity android:name=".sandstorm.SandstormActivity"></activity>
        <activity android:name=".cycle.CycleActivity"></activity>
        <activity android:name=".pit.PitActivity"></activity>
        <activity android:name=".endgame.EndGameActivity"></activity>
        <activity android:name=".admin.AdminActivity"></activity>
        <activity android:name=".analysis.team.TeamAnalysisActivity"></activity>
        <activity android:name=".analysis.attribute.AttributeAnalysisActivity"></activity>
        <activity android:name=".duck.DuckActivity"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>